# Dependencias
node_modules
package-lock.json

# Compilación y producción
dist
dist-ssr
build/

# Archivos de Entorno
.env
.env.local
.env.development
.env.production
.env.test

# Archivos de caché y logs
.eslintcache
*.log
npm-debug.log*

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db